.book-id{
    padding-left: 50px;
    padding-bottom: px;
}
.book-id span{
    color:#6e6c6c;
}

.book-id span{
    cursor:pointer;
}
.main-div{
    width:90%;
    // border:1px solid;
    margin: 0px auto;
    display:flex;
    padding-left: 0px;
    box-shadow: rgb(0, 0, 0,0.187) 2px 2px 5px 5px;


}

.inner-div1 {
    padding-top:40px;
    padding-left: 25px;
}

.button-input{
    width:20px;
}

.book{
    border:1px solid #cbcaca;
    padding:15px 20px;
    width:235px;
    height:275px;
}

.button{
    display: flex;
    width:100%;
}

.add-to-bag{
    margin-top:10px;
    width:127px;
    height:35px;
    background-color: #A03037;
    border:none;
    color:white;

}


.add-quantity{
    margin-top:10px;
    width:127px;
    height:35px;
    background-color: white;
    border:none;
    color:black;
    align-items: center;
}

.add-quantity span{
    padding: 0px 7px;
    border:1px solid;
    margin-right:10px;
}

.material-symbols-outlined{
    background-color: white;
    border:none;
    color:#aeaeae;
    border-color: #aeaeae;
    border:1px solid;
    border-radius: 50%;
    margin-right:10px;
    margin-top: 15px;
    font-size: 14px;
    padding: 2px 2px;

}

.add-to-bag:hover{
    cursor:pointer;
}

.whishlist:hover{
    cursor: pointer;
}

.whishlist{
    width:127px;
    height:35px;
    background-color: rgb(79, 79, 79);
    border:none;
    color:white;
    margin-left: 15px;
}

.inner-div2{
    // border:1px solid;
    padding-left:35px;
    padding-top: 60px;
    padding-right: 25px;
}

.title{
    font-weight: 500;
    font-size:20px;
    padding-bottom: 3px;
}

.author{
    color:#878787;
    font-size: 12px;
    padding-bottom: 3px;

}

.book-rating .rating{

    background: #388E3C 0% 0% no-repeat padding-box;
    color:white;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 0px;
}
.book-rating .rating-count{
    padding-left:5px;

    width: 18px;
    height: 13px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.book-price{
//     width: 408px;
// height: 16px;
/* UI Properties */

text-align: left;
font: normal normal bold 18px/16px Roboto;
letter-spacing: 0px;
color: #0A0102;
opacity: 1;
padding-top: 15px;
padding-bottom: 25px;
border-bottom: 1px solid #cbcaca;

}
.book-price span{
    padding-left:5px;
    // width: 36px;
    // height: 13px;
/* UI Properties */
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}


.book-data span{
    font-size: 16px;

}
.book-data{
    padding-top: 25px;
    color:#878787;
}

.book-description{
    padding-left:5px;
    padding-top: 5px;
    padding-bottom: 25px;
    font-size: 12px;
    border-bottom:1px solid #cbcaca;
}

.feedback-details{
    padding-top:25px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 15px;
}

.feedback{
    border:1px solid #cbcaca;;
    background-color: #F5F5F5;

}
.rating{
    font-size: 12px;
    padding-bottom: 5px;
}
.stars{
    font-size: 26px;
    padding-bottom: 5px;
}
.review-text{
    padding-bottom: 20px;
    padding-left: 10px;
}
.review-text input{
    height:70px;
    width:420px;
    border:none;
    padding-left: 0px;
    margin-left: 0px;
}

.submit button{
    // float:right;
    background-color: #3371B5;
    color:white;
    margin-left:360px;
    border: none;
    padding: 5px 10px;
   
}
.submit{
    padding-bottom: 10px;
}

.review-display{
    padding-top: 15px;
}

.review-image{
    border:1px solid ;
    border-radius: 50%;
    padding: 1px;
    color:#b8b3b3;
    background-color: #F5F5F5;;
}
.name{
    padding-left: 7px;
    font-weight: 500;
    font-size: 12px;
}

.review-stars{
    color:#FFCE00;
    padding-left: 30px;
    font-size: 26px;
}

.display-text{
    padding-left: 30px;
    padding-top: 5px;
    font-size: 10px;
}