<div class="container">
    <div class="body">
        <div class="img-object">
            <img class="image" src="../../../assets/cart.png" alt="" srcset="" height="245px" width="245px">
            <p  class="para">ONLINE BOOK SHOPPING</p>
        </div>
        <div class="login-signup-container">
            <div class="login-signup-row">
                <ul>
                    <li><a (click)="goToLogin()" [ngClass]="{'active':login}">LOGIN</a></li>
                    <li><a (click)="goToSignUp()" [ngClass]="{'active': !login}">SIGNUP</a></li>
                </ul>
               
                <app-logincomponent *ngIf="login"></app-logincomponent>
                <!-- <app-login *ngIf="login"></app-login> -->
                <app-signup *ngIf="!login"></app-signup>

            </div>
        
        </div>
    </div>

</div>
