<div class="main-div">
    <span class="order-text">Order Summary</span>
    <div *ngFor="let cartdata of cart">
        <div class="container">
    <div class="inner-div1">
        <img src="{{cartdata.image}}">
    </div>
    <div class="inner-div2">
        <div class="title">
            <span>{{cartdata.title}}</span>
        </div>
        <div class="author">
            <span>{{cartdata.author}}</span>
        </div>
        <div class="amount">
            {{cartdata.price*cartdata.quantity}}<span>Rs.{{cost*cartdata.quantity}}</span>
        </div>
    </div>
        </div>
    </div>
</div>
