<div class="book-id">
    <span (click)="tocards()">Home/</span> My whishlist
    </div>
<div class="main-div">
    <span class="data">MY WHISHLIST({{cart.length}})</span>
    
        <div *ngFor="let cartdata of cart">
        <div class="container">
    <div class="inner-div1">
        <img src="{{cartdata.image}}">
    </div>
    <div class="inner-div2">
        <div class="title">
            <span>{{cartdata.title}}</span>
        </div>
        <div class="author">
            <span>{{cartdata.author}}</span>
        </div>
        <div class="amount">
            {{cartdata.price}}<span>Rs.2000</span>
        </div>
       
        </div>
        <div class="inner-div3">
            <img class="deltewish" (click)="deletewhishlist(cartdata.id)" src="../../../assets/delete_24dp_FILL0_wght400_GRAD0_opsz24.svg">
            
    </div>
            </div>
        </div>



</div>
