.main-div{
    // width:90%;
    // margin:0px auto;
    // border:1px solid;
    padding-bottom: 30px;
    padding-top: 10px;
    
}

.container{
    display:flex;
}

.location{
    float:right;
    border:1px solid;
    padding: 5px;
    margin-right: 10px;
}

.location .material-symbols-outlined{
    font-size: 16px;
    padding-right: 3px;
    color:#A03037;
    
}

.inner-div1{

    padding-left: 25px;
    padding-top:25px;
    // border: 1px solid;

}

.inner-div1 img{
    width:75px;
    height:95px;
}

.inner-div2{
    padding-top:25px;
    // border: 1px solid;
    padding-left: 25px;
    width:550px;
}

.add-to-bag{
    margin-top:10px;
    width:127px;
    height:35px;
    background-color: #A03037;
    border:none;
    color:white;

}


.add-quantity{
    margin-top:10px;
    width:127px;
    height:35px;
    background-color: white;
    border:none;
    color:black;
    align-items: center;
}

.add-quantity span{
    padding: 0px 7px;
    border:1px solid;
    margin-right:10px;
}

.quantity .material-symbols-outlined{
    background-color: white;
    border:none;
    color:#aeaeae;
    border-color: #aeaeae;
    border:1px solid;
    border-radius: 50%;
    margin-right:10px;
    margin-top: 15px;
    font-size: 14px;

}

.title{
    font-size: 13px;
    font-weight: 500;
}

.author{
    font-size: 11px;
    color:#aeaeae
}

.amount{
    padding-top: 3px;
    font-weight: 500;
}

.amount span{
    padding-left:8px;
    // width: 36px;
    // height: 13px;
/* UI Properties */
    text-align: left;
    text-decoration: line-through;
    font: normal normal normal 10px/13px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
}

.place-order{
    float:right;
    font-size: 12px;
    // border:1px solid;
    color: white;
    margin-right: 10px;
    margin-bottom:25px;
}

.place-order button{
    border:none;
    background-color: #3371B5;
    padding:7px 5px;
    color:white;
    font-size:14px;

}
.place-order button:hover{
    cursor:pointer;
}
.order-text{
    margin-left:10px;
}

.inner-div3{
    padding-top: 50px;
}

.inner-div3 ul li{
    color:green;
}
.inner-div3 b{
    color: black;
}

.home{
    cursor: pointer;
    padding-left: 20px;
    color: #A03037;
}