.book-count-row{
    width: 66%;
    margin: 0px auto;
    margin-top: 25px;
    height: 40px;
    //border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.book-count-col1{
    display: flex;
    align-items: center;
}

.book-count-row .book-count-col1 h1{
    //border: 2px solid;
    margin-top: 15px;
    font: normal normal normal 25px/33px Roboto;
    letter-spacing: 0px;
    color: #0A0102;
    margin-right: 5px;
}

.book-count-row .book-count-col1 mat-hint{
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #9D9D9D;
}

.book-count-row .book-count-col2 select{
    position: relative;
    right: 0px;
    border-radius: 0px;
    height: 30px;
}

.book-count-col2 select option{
    height: 25px !important;
}


.card-container{
    width: 66%;
    margin: 0px auto;
    margin-top: 5px;
    height: fit-content;
    //border: 2px solid;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //gap: 20px;
    
}


.prev-next{
    margin: 0px auto;
    //border: 2px solid;
    text-align: center;
    //margin-bottom: 100px;
}

// .pagination-previous :hover{
//     border-radius: 50% !important;
//     border: 2px solid !important;
// }

.ngx-pagination .current {
    background: #A03037 !important;
}
.for-mb-2{
    height: 50px;
}