<div class="container">
    <div class="image" style="padding-left: 30px;">
        <img src="../../assets/Screenshot 2024-03-26 111818.png">
       
    </div>
    <div class="text">
        <div class="first">
            hurray!!! your order is confirmed
        </div>
        <div class="text-text">
            the order id is #123456 save the order id for 
        </div>
        <div class="third" style="padding-bottom: 25px;">
            further communication..
        </div>
    </div>
    
    <div class="address-div">
        
        <div class="email" style="padding-right: 220px;padding-left: 50px;">
            Email us
        </div>
        <div class="contact" style=" padding-right: 600px;">
            Contact us
        </div>
        <div class="Address">
            Address
        </div>
    </div>
    
    <div class="data-div">
        
        <div class="email-div">
            <span>admin&#64;bookstore.com </span> </div>
        <div class="contact-div">
    <span>        +91    </span>6303307952 </div>
        <div class="Address-div">
            <span>
                Sai Ram Street, Madanapalle AP 517325
    
            </span>
        </div>
    </div>
    
    <div class="button">
        <button (click)="gotocards()">CONTINUE SHOPPING</button>
    </div>
    
</div>